@font-face {
  font-family: Helvetica Neue;
  src: url(./../fonts/HelveticaNeue.otf);
}
@font-face {
  font-family: Lato;
  src: url(./../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: HelveticaNeueBold;
  src: url(./../fonts/HelveticaNeue-Bold.otf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(./../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family:  MTD Geraldyne;
  src: url(./../fonts/MTDGeraldyne.otf);
}
@font-face {
  font-family: Lato Black;
  src: url(./../fonts/Lato-Black.ttf);
}

@font-face {
  font-family: HelveticaNeue-Light;
  src: url(./../fonts/HelveticaNeue-Light.otf);
}
@font-face {
  font-family: Lato;
  src: url(./../fonts/Lato-Medium.ttf);
}




/* 1366 */
@media screen and (max-width: 1400px) and (min-width: 1300px) {
  .section_slider_hp .item_slide .content {
    left: 120px;
  }
  .section_about_us .element_text {
    padding-left: 100px;
  }
  .slider_project .slick-next {
    right: 14px;
  }
}

/* 1024 */
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .section_slider_hp .item_slide .content {
    left: 75px;
    top: 58%;
  }
  .main-header .menu-bar > li > a {
    font-size: 13px;
  }
  .section_slider_hp .item_slide .content h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .section_slider_hp .item_slide .content p {
    margin: 20px 0;
  }
  .section_slider_hp .element_link_vb {
    width: 45%;
  }
  .section_about_us .element_text {
    padding: 0 25px;
  }
  .section_about_us .element_text p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .slider_project .slick-next {
    right: 14px;
  }
  .element_detail .item p {
    padding: 10px 0;
  }
  .slider_for_detail .img {
    height: 445px;
  }
}

/* 768 */
@media screen and (max-width: 992px) {
  .section_main_bg .element_search_vb .search_vb span , .section_main_bg .element_search_vb .search_vb span select {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #77a6e9;
  }
  .section_main_bg .element_search_vb .search_vb .btn_searchvb {
    width: 100%;
  }
  .section_main_bg .element_search_vb .search_vb span {
    border-right: none;
  }
  .project_item .img {
    height: 150px;
  }
  .detail_content {
    width: 100%;
  }
  .slider_for_detail .img {
    height: 350px;
  }
  .slider_for_detail .slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slider_for_detail {
    width: 100%;
  }
  .slider_nav_detail .img {
    height: 80px;
  }
  .element_contact , .element_map {
    width: 100%;
    padding: 0;
  }
  .element_col_detail {
    width: 100%;
  }
  .element_col_info {
    width: 100%;
  }
}

/* 768 */
@media screen and (max-width: 991px) and (min-width: 570px) {
  .section_slider_hp .item_slide .content {
    left: 5px;
    top: 58%;
  }
  .main-header .menu-bar > li > a {
    font-size: 13px;
  }
  .section_slider_hp .item_slide .content h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .section_slider_hp .item_slide .content p {
    margin: 20px 0;
  }
  .section_slider_hp .element_link_vb {
    width: 100%;
    position: inherit;
    right: inherit;
    bottom: inherit;
  }
  .section_about_us .element_text {
    padding: 0 15px;
    width: 100%;
  }
  .section_about_us .element_img_aboutus {
    width: 100%;
    padding: 15px;
  }
}


/* 570 */
@media screen and (max-width: 570px) {
  .section_slider_hp .item_slide .content {
    left: 15px;
  }
  .section_slider_hp .item_slide .content h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .section_slider_hp .item_slide .content p {
    font-size: 16px;
    margin: 0;
  }
  .section_slider_hp .item_slide .content .btn_xemngay {
    width: 140px;
    height: 40px;
  }
  .section_slider_hp .element_link_vb {
    position: inherit;
    width: inherit;
    right: inherit;
    bottom: inherit;
  }
  .site33_head_col12_menu {
    position: inherit;
  }
  .section_about_us .element_text {
    padding: 0 15px;
    width: 100%;
  }
  .section_about_us .element_img_aboutus {
    width: 100%;
    padding: 15px;
  }
  .title_page h2 {
    font-size: 18px;
    line-height: 24px;
  }
  .title_page , .breadcrumb_page {
    padding: 0 15px;
  }
  .section_depscription {
    padding: 15px;
  }
  .title_line h2 {
    font-size: 26px;
  }
  .title_basic h2 {
    font-size: 18px;
  }
  .element_form .quytrinh .item label {
    width: 100%;
  }
  .element_form .quytrinh .item span {
    width: 100%;
  }
  .element_form , .element_tab_form .nav_tab li a {
    padding: 15px;
  }
  .element_tab_form .nav_tab , .element_tab_form .tab_content {
    width: 100%;
  }
  .element_tab_form .nav_tab li {
    height: 50px;
  }
  .element_tab_form .nav_tab li.active a:before {
    display: none;
  }
  .element_tab_form .nav_tab li a {
    width: 100%;
  }
  .section_quytrinh {
    padding: 15px;
  }
  .element_kq_search .item_box .item:nth-child(1) {
    width: 70%;
    padding-right: 5px;
  }
  .element_kq_search .item_box .item:nth-child(2) {
    padding-left: 0;
    width: 30%;
  }
  .element_kq_search .item_box .item:nth-child(3) {
    width: 100%;
  }
  .element_kq_search .item_box .item .btn_taive {
    width: 100%;
    height: 36px;
    border: 1px solid #548FE3;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .section_phantrang button , .section_phantrang span , .section_phantrang p {
    font-size: 10px;
  }
  .section_phantrang span {
    padding-left: 14px;
    width: 35px;
    height: 35px;
    margin: 0 5px;
  }
  .section_phantrang button {
    height: 40px;
    padding: 0 15px;
  }
  .section_phantrang p {
    margin-right: 10px;
  }
  .slider_project .slick-next {
    right: 14px;
  }
  .slider_project .slick-slide {
    margin: 0;
  }
  .slider_project {
    margin: 30px 0;
  }
  .section_main_bg {
    padding: 0 15px;
  }
  .section_detail_project {
    padding: 20px 15px;
    overflow: hidden;
  }
  .slider_nav_detail .img {
    height: 40px;
  }
  .slider_for_detail .img {
    height: 200px ;
  }
  .element_faq .faq_item .item p {
    padding: 0 15px;
    font-size: 14px;
  }
  .element_contact , .element_map {
    padding: 0 15px;
    margin-bottom: 30px;
  }
  .section_dangcapnhat {
    height: 350px;
  }
  .section_dangcapnhat h2 {
    font-size: 16px;
  }
  .form_dangnhap {
    background: #fff;
    width: 100%;
    padding: 55px 0;
  }
  .section_dangnhap {
    padding: 25px 15px;
  }
  .element_col_detail .nav-tabs li {
    width: 100%;
  }
  .element_col_detail .nav-tabs li a:before {
    height: 2px;
    bottom: 5px;
  }
  .form_info_tab form .item {
    width: 100%;
  }
  .form_info_tab form .item:nth-child(5) span {
    width: 100%;
    margin-bottom: 20px;
  }
  .form_info_tab form .item:nth-child(5) span:last-child {
    margin-bottom: 0;
    margin-top: 0;
  }
  .element_personal_storage .item .content a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .element_col_detail .nav-tabs {
    border-bottom: none;
  }
  .site33_head_col12_menu {
    padding: 0 15px;
  }
  .section_banner_page {
    height: 200px;
  }
  .section_banner_page .element_title_page {
    top: 50%;
  }
  .site33_foot_col12_chantrang .row {
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .site33_foot_col12_chantrang .col-right ul {
    margin-left: inherit;
    margin-right: inherit;
    margin: inherit;
  }
}

