@charset "UTF-8";
/* 17/03/2021 */
.title_page h2 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0;
}

.section_banner_page {
  position: relative;
  overflow: hidden;
  height: 300px;
}
.section_banner_page > img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.section_banner_page .element_title_page {
  position: absolute;
  top: 65%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
}
.section_banner_page:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 105, 0.5);
  top: 0;
  left: 0;
  /*opacity: 0.5;*/
}

.breadcrumb_page a {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  position: relative;
  padding: 0 15px;
}
.breadcrumb_page a:nth-child(1) {
  padding-left: 0;
}
.breadcrumb_page a:last-child {
  color: #9FCAFF;
}
.breadcrumb_page a:last-child:before {
  display: none;
}
.breadcrumb_page a:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotateZ(45deg);
  right: 0;
  top: 7px;
}

.section_about_us {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.section_about_us .element_text {
  width: 50%;
  overflow: hidden;
  padding-left: 368px;
  padding-right: 70px;
}
.section_about_us .element_text .title_line {
  margin-bottom: 35px;
}
.section_about_us .element_text p {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 151.3%;
  text-align: justify;
  color: #424242;
}
.section_about_us .element_img_aboutus {
  width: 50%;
  overflow: hidden;
}
.section_about_us .element_img_aboutus img {
  width: 100%;
}

.title_line {
  margin: 8px 0;
}
.title_line h2 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  color: #2D2D4B;
  position: relative;
  margin: 0;
}
.title_line h2:before {
  position: absolute;
  content: "";
  width: 95px;
  height: 5px;
  background: #7AA5E2;
  bottom: -8px;
  left: 0;
}

.section_depscription {
  background: #FAFAFA;
  padding: 44px 0 36px 0;
}
.section_depscription p {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 151.3%;
  text-align: justify;
  color: #424242;
}

.xemngay_btn {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #548FE3;
  position: relative;
  border: 1px solid #548FE3;
  box-sizing: border-box;
  border-radius: 5px;
  width: 152px;
  height: 50px;
  padding-right: 35px;
  background: transparent;
  margin-top: 25px;
  transition: 0.5s;
}
.xemngay_btn:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-top: 1px solid #548FE3;
  border-right: 1px solid #548FE3;
  transform: rotateZ(45deg);
  top: 22px;
  right: 30px;
  transition: 0.5s;
}
.xemngay_btn:focus {
  outline: 0;
}
.xemngay_btn:hover {
  color: #fff;
  background: #548FE3;
}
.xemngay_btn:hover:before {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.section_about_us_bg {
  background-image: url(./../img/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 117px 0;
  position: relative;
}
.section_about_us_bg:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #4171B3;
  top: 0;
  left: 0;
  z-index: -1;
}
.section_about_us_bg .title_line h2 {
  color: #fff;
}
.section_about_us_bg .title_line h2:before {
  background: #fff;
}
.section_about_us_bg p {
  color: #fff !important;
}
.section_about_us_bg .xemngay_btn {
  color: #fff;
  border: 1px solid #fff;
}
.section_about_us_bg .xemngay_btn:before {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
.section_about_us_bg .xemngay_btn:hover {
  border-color: #548FE3;
}

.title_basic {
  margin: 25px 0;
}
.title_basic h2 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #2D2D4B;
  margin: 0;
}

.section_quytrinh {
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 32px;
}
.section_quytrinh:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #e5e5e5a8;
  z-index: -1;
  top: 0;
  left: 0;
}

.element_form {
  width: 100%;
  padding: 30px;
  background: #fff;
}
.element_form .quytrinh {
  width: 100%;
}
.element_form .quytrinh .item {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.element_form .quytrinh .item label {
  width: 30%;
  display: block;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #424242;
}
.element_form .quytrinh .item span {
  display: block;
  width: 70%;
  border: 1px solid #E6E6E6;
  padding-right: 15px;
}
.element_form .quytrinh .item span input {
  width: 100%;
  height: 50px;
  border: none;
  padding-left: 15px;
}
.element_form .quytrinh .item span input::placeholder {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}
.element_form .quytrinh .item span input:focus {
  outline: 0;
}
.element_form .quytrinh .item span input:focus::placeholder {
  opacity: 0;
}
.element_form .quytrinh .item span select {
  width: 100%;
  height: 50px;
  border: none;
}
.element_form .quytrinh .item span select:focus {
  outline: 0;
}
.element_form .quytrinh .item span select:focus::placeholder {
  opacity: 0;
}

.xemquytrinh {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #729DDA;
  width: 100%;
  height: 50px;
  border: none;
  margin-top: 5px;
}
.xemquytrinh:focus {
  outline: 0;
}

.element_tab_form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.element_tab_form .nav_tab {
  width: 30%;
  display: block;
}
.element_tab_form .nav_tab li {
  width: 100%;
  height: 125px;
}
.element_tab_form .nav_tab li a {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150.1%;
  text-align: center;
  color: #424242;
  display: block;
  width: 90%;
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  background: #fff;
  border-bottom: 2px solid #DBDBDB;
  padding: 0 28%;
}
.element_tab_form .nav_tab li.active a {
  color: #fff;
  background: #729DDA;
  position: relative;
}
.element_tab_form .nav_tab li.active a:before {
  position: absolute;
  content: url(./../img/before.png);
  top: 50%;
  right: -15px;
  transform: translate(0, -50%);
}
.element_tab_form .tab_content {
  width: 70%;
  background: #fff;
}
.element_tab_form .tab_content .element_form {
  padding: 0 30px;
}

.section_main_bg {
  background: #F6F6F6;
}
.section_main_bg .element_search_vb {
  background: #fff;
  width: 100%;
  padding: 25px 15px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.section_main_bg .element_search_vb h2 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 21.61px;
  line-height: 26px;
  color: #5A5A5A;
  margin-top: 0;
}
.section_main_bg .element_search_vb .search_vb {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
  border: 0.994714px solid #77A6E9;
}
.section_main_bg .element_search_vb .search_vb .btn_searchvb {
  background: #548FE3;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 15.9154px;
  line-height: 19px;
  color: #FFFFFF;
  width: 154px;
  height: 50px;
  border: none;
}
.section_main_bg .element_search_vb .search_vb .btn_searchvb:focus {
  outline: 0;
}
.section_main_bg .element_search_vb .search_vb .btn_searchvb img {
  margin-right: 15px;
}
.section_main_bg .element_search_vb .search_vb span {
  display: block;
  height: 100%;
  padding: 0 15px;
  border-right: 2px solid #97979773;
}
.section_main_bg .element_search_vb .search_vb span:last-child {
  padding: 0;
  border-right: none;
}
.section_main_bg .element_search_vb .search_vb span:nth-child(4) {
  border-right: none;
}
.section_main_bg .element_search_vb .search_vb span input {
  border: none;
}
.section_main_bg .element_search_vb .search_vb span select {
  border: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15.9154px;
  line-height: 18px;
  color: #979797;
}
.section_main_bg .element_search_vb .search_vb span select:focus {
  outline: 0;
}

.element_kq_search {
  width: 100%;
  padding: 15px 15px 30px 15px;
  background: #fff;
  margin-bottom: 40px;
}
.element_kq_search .item_box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}
.element_kq_search .item_box:nth-child(2n+1) {
  background: #F6F6F6;
}
.element_kq_search .item_box .item:nth-child(1) {
  width: 63%;
  padding-right: 15px;
}
.element_kq_search .item_box .item:nth-child(2) {
  width: 27%;
  padding-left: 30px;
}
.element_kq_search .item_box .item:nth-child(3) {
  width: 10%;
}
.element_kq_search .item_box .item p {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 155.49%;
  color: #494D52;
  margin: 0;
}
.element_kq_search .item_box .item .btn_taive {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 15.8877px;
  line-height: 19px;
  color: #548FE3;
  background: transparent;
  border: none;
}
.element_kq_search .item_box .item .btn_taive img {
  margin-left: 15px;
  vertical-align: baseline;
}

button:focus {
  outline: 0;
}

.section_phantrang {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 30px;
}
.section_phantrang p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.36%;
  margin: 0 20px 0 0;
  color: #424242;
}
.section_phantrang span {
  background: #548FE3;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 22px;
  width: 55px;
  height: 55px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150.36%;
  margin: 0 15px;
  color: #FFFFFF;
}
.section_phantrang button {
  border: 1px solid #548FE3;
  box-sizing: border-box;
  border-radius: 5px;
  height: 55px;
  padding: 0 25px;
  transition: 0.5s;
  background: transparent;
  font-size: 16px;
  line-height: 150.36%;
  color: #424242;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  color: #5A5A5A;
}
.section_phantrang button:hover {
  background: #548FE3;
  color: #fff;
  border: 1px solid #548FE3;
}
.section_phantrang button:hover img {
  filter: inherit;
}
.section_phantrang .btn_prev img {
  transform: rotateZ(180deg);
  filter: invert(1);
  margin-right: 15px;
}
.section_phantrang .btn_next {
  background: #548FE3;
  border: 1px solid #548FE3;
  border-radius: 5px;
  color: #FFFFFF;
}
.section_phantrang .btn_next img {
  /* filter: invert(1);*/
  margin-left: 15px;
}

.section_main_bg .despcription {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 151.3%;
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 0;
  color: #424242;
}

.project_item {
  width: 32%;
}
.project_item .img {
  display: block;
  width: 100%;
  height: 235px;
  overflow: hidden;
}
.project_item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.project_item:hover .img img {
  transform: scale(1.2);
}
.project_item:hover .content a {
  color: #548FE3;
  font-weight: bold;
}
.project_item:hover .content p {
  color: #548FE3;
  font-weight: bold;
}
.project_item:hover .content p img {
  display: none;
}
.project_item:hover .content p .img_hover {
  display: block !important;
}
.project_item .content {
  padding: 15px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project_item .content a {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150.1%;
  color: #5A5A5A;
  transition: 0.5s;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.project_item .content p {
  width: 50px;
  overflow: hidden;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 11.1816px;
  line-height: 150.1%;
  color: #D3D1D1;
  text-align: center;
}
.project_item .content p img {
  max-width: 100%;
  margin: auto;
}
.project_item .content p .img_hover {
  display: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.slider_project {
  margin: 30px -15px 0 -15px;
}
.slider_project .slick-slide {
  margin: 0 15px;
}
.slider_project .slick-prev {
  left: 15px;
  z-index: 1;
  top: 30%;
}
.slider_project .slick-prev:before {
  display: none;
}
.slider_project .slick-next {
  right: 15px;
  z-index: 1;
  top: 30%;
}
.slider_project .slick-next:before {
  display: none;
}

.element_project {
  margin: 30px 0 40px 0;
}

.slider_fronav {
  width: 75%;
  float: left;
  overflow: hidden;
}

.slider_for_detail {
  width: 100%;
  overflow: hidden;
}
.slider_for_detail .img {
  width: 100%;
  height: 570px;
}
.slider_for_detail .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider_for_detail .slick-prev {
  left: 0;
  z-index: 1;
}
.slider_for_detail .slick-prev:before {
  display: none;
}
.slider_for_detail .slick-next {
  right: 0px;
  z-index: 1;
}
.slider_for_detail .slick-next:before {
  display: none;
}

.slider_nav_detail {
  width: 100%;
}
.slider_nav_detail .img {
  width: auto;
  height: 150px;
  overflow: hidden;
  position: relative;
}
.slider_nav_detail .img:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #ffffff87;
  top: 0;
  left: 0;
}
.slider_nav_detail .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider_nav_detail .slick-slide {
  padding: 0 10px;
}
.slider_nav_detail .slick-slide.slick-current.slick-active .img:before {
  display: none;
}
.slider_nav_detail .slick-prev {
  left: 15px;
  z-index: 1;
  top: 40%;
}
.slider_nav_detail .slick-prev:before {
  display: none;
}
.slider_nav_detail .slick-next {
  right: 14px;
  z-index: 1;
  top: 40%;
}
.slider_nav_detail .slick-next:before {
  display: none;
}

.detail_content {
  width: 25%;
  overflow: hidden;
  float: left;
}

.title_detail {
  margin: 8px 0;
}
.title_detail h2 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #2D2D4B;
  position: relative;
  margin: 0;
}
.title_detail h2:before {
  position: absolute;
  content: "";
  width: 95px;
  height: 5px;
  background: #7AA5E2;
  bottom: -8px;
  left: 0;
}

.element_detail {
  margin-top: 30px;
  padding-right: 25px;
}
.element_detail .item {
  border-bottom: 1px solid #E6E6E6;
  overflow: hidden;
}
.element_detail .item p {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5A5A5A;
  margin: 0;
  padding: 15px 0;
}
.element_detail .item:last-child {
  border-bottom: none;
}

.section_detail_project {
  padding: 60px 0;
}

.element_nav {
  margin: 15px -15px 0 -15px;
}

.section_faq {
  padding: 25px 0;
}

.element_faq {
  width: 100%;
  margin-top: 45px;
}
.element_faq .faq_item.active .item {
  background: #548fe3;
}
.element_faq .faq_item.active .item > span {
  background: #548FE3;
  color: #FFFFFF;
}
.element_faq .faq_item.active .item p {
  color: #fff;
}
.element_faq .faq_item.active .item .icon {
  background: #548FE3;
}
.element_faq .faq_item.active .item .icon span {
  background: #ffffff;
}
.element_faq .faq_item.active .item .icon span:nth-child(2) {
  display: none;
}
.element_faq .faq_item.active .content_box {
  display: block;
}
.element_faq .faq_item {
  width: 100%;
  transition: 0.5s;
}
.element_faq .faq_item .item {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin-bottom: 3px;
}
.element_faq .faq_item .item:hover {
  cursor: pointer;
}
.element_faq .faq_item .item > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 71px;
  height: 68px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150.36%;
  color: #5A5A5A;
  border-right: 3px solid #f6f6f6;
}
.element_faq .faq_item .item p {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150.36%;
  color: #5A5A5A;
  margin: 0;
  text-align: left;
  width: calc(100% - 145px);
  padding-left: 30px;
}
.element_faq .faq_item .item .icon {
  width: 71px;
  height: 68px;
  background: #fff;
  display: block;
  position: relative;
  border-left: 3px solid #f6f6f6;
}
.element_faq .faq_item .item .icon span {
  display: block;
  background: #9C9C9C;
}
.element_faq .faq_item .item .icon span:nth-child(2) {
  width: 2px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.element_faq .faq_item .item .icon span:nth-child(1) {
  width: 14px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.element_faq .faq_item .content_box {
  padding: 20px 0;
  display: none;
}
.element_faq .faq_item .content_box p {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.36%;
  color: #424242;
}

.element_contact {
  width: 50%;
  float: left;
  overflow: hidden;
  padding-right: 25px;
}
.element_contact > p {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 164.71%;
  text-align: justify;
  color: #424242;
  margin-top: 35px;
}
.element_contact .contact_box {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.element_contact .contact_box input {
  width: 100%;
  height: 45px;
  border: 1px solid #E1E1E1;
  margin-bottom: 17px;
  padding: 0 15px;
}
.element_contact .contact_box input:nth-child(2), .element_contact .contact_box input:nth-child(3) {
  width: 48%;
}
.element_contact .contact_box input::placeholder {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #AFAFAF;
}
.element_contact .contact_box input:focus {
  outline: 0;
}
.element_contact .contact_box input:focus::placeholder {
  opacity: 0;
}
.element_contact .contact_box textarea {
  width: 100%;
  height: 183px;
  border: 1px solid #E1E1E1;
  margin-bottom: 17px;
  padding: 15px;
}
.element_contact .contact_box textarea::placeholder {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #AFAFAF;
}
.element_contact .contact_box textarea:focus {
  outline: 0;
}
.element_contact .contact_box textarea:focus::placeholder {
  opacity: 0;
}
.element_contact .contact_box .btn_guiyeucau {
  background: #5582C1;
  width: 100%;
  border: none;
  height: 52px;
  font-family: Lato Black;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.element_contact .contact_box .btn_guiyeucau img {
  margin-left: 15px;
}

.element_map {
  width: 50%;
  float: left;
  overflow: hidden;
  padding-left: 22px;
}
.element_map .map_box {
  margin-top: 35px;
  height: 300px;
  overflow: hidden;
}
.element_map .map_box iframe {
  width: 100%;
  height: 100%;
}

.item_addres .content h2 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #5A5A5A;
  margin: 30px 0;
}
.item_addres .content p {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #5A5A5A;
}
.item_addres .content p span {
  margin-right: 15px;
}
.item_addres .content p:nth-child(3), .item_addres .content p:nth-child(4) {
  width: 50%;
  float: left;
}

.section_contact {
  padding: 30px 0;
}

.section_dangcapnhat {
  background: #F6F6F6;
  height: 587px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_dangcapnhat h2 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #C4C4C4;
}

.section_dangnhap {
  width: 100%;
  overflow: hidden;
  background-image: url(./../img/bg3.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 108px 0;
}

.form_dangnhap {
  background: #fff;
  width: 570px;
  padding: 56px 0;
}
.form_dangnhap form {
  text-align: center;
}
.form_dangnhap form h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #2D2D4B;
  text-align: center;
}
.form_dangnhap form > span {
  display: block;
  height: 47px;
  width: 80%;
  box-sizing: border-box;
  margin: 20px auto;
  position: relative;
}
.form_dangnhap form > span img {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%);
}
.form_dangnhap form > span input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 15px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}
.form_dangnhap form > span input:focus {
  outline: 0;
}
.form_dangnhap form > span input:focus::placeholder {
  opacity: 0;
}
.form_dangnhap form .box_item {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80%;
  margin: 25px auto;
}
.form_dangnhap form .box_item span label {
  font-family: Helvetica Neue;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #5A5A5A;
}
.form_dangnhap form .box_item a {
  font-family: Helvetica Neue;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #729DDA;
}
.form_dangnhap form .btn_dangnhap {
  width: 80%;
  height: 47px;
  background: #729DDA;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin: auto;
  border: none;
}
.form_dangnhap form p {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #5A5A5A;
  margin: 25px 0;
}
.form_dangnhap form p a {
  color: #729DDA;
}
.form_dangnhap form .btn_link_box {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.form_dangnhap form .btn_link_box .btn_link {
  width: 48%;
  height: 48px;
  border: none;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #729DDA;
  border-radius: 5px;
}
.form_dangnhap form .btn_link_box .btn_link img {
  margin-right: 12px;
}
.form_dangnhap form .btn_link_box .btn_link:last-child {
  background: #ED4A47;
  border-radius: 5px;
}

.form_dangnhap.form_quenmk {
  padding: 100px 0;
}

.section_dangnhap.section_bg2 {
  background-image: url(./../img/bg4.png);
}

.note_mk {
  width: 80%;
  margin: 15px auto;
}
.note_mk span {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  color: #729DDA;
  display: block;
  margin: 15px 0 0 0;
}

form span input::placeholder {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #6B6B6B;
}

.change_pass {
  width: 80%;
  margin: 25px auto;
}
.change_pass img {
  margin: 30px 0;
}
.change_pass p {
  margin: 10px 0 !important;
}
.change_pass p a {
  color: #729DDA;
}
.change_pass p:last-child {
  margin-bottom: 40px !important;
}

.element_col_info {
  width: 23%;
  background: #fff;
  padding: 40px 43px;
}
.element_col_info .img {
  position: relative;
  width: 178px;
  height: 178px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 35px;
}
.element_col_info .img .img_change {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 37px;
  height: 37px;
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.13);
  display: flex;
  justify-content: center;
  align-items: center;
}
.element_col_info .img_box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.element_col_info .img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.element_col_info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.element_col_info ul li {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.element_col_info ul li span {
  display: block;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.element_col_info ul li span img {
  max-width: 100%;
}
.element_col_info ul li a {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: block;
  width: calc(100% - 35px);
  padding-left: 5px;
  color: #5A5A5A;
}
.element_col_info ul li.active a {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #5582C1;
}

.element_col_detail {
  width: 75%;
  background: #fff;
  padding: 40px 30px;
}
.element_col_detail .nav-tabs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.element_col_detail .nav-tabs li {
  width: 33.333%;
}
.element_col_detail .nav-tabs li a {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #8A8A8A;
  position: relative;
  text-align: center;
}
.element_col_detail .nav-tabs li a:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background: transparent;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 0);
}
.element_col_detail .nav-tabs li a:hover {
  background: transparent;
  border: none;
}
.element_col_detail .nav-tabs li.active a {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #2D2D4B;
  border: none;
}
.element_col_detail .nav-tabs li.active a:before {
  background: #729DDA;
}

.section_info_signin {
  padding: 55px 0 150px 0;
}
.section_info_signin .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.form_info_tab {
  width: 100%;
}
.form_info_tab form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}
.form_info_tab form .item {
  width: 48%;
  margin-bottom: 20px;
}
.form_info_tab form .item:nth-child(5) {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.form_info_tab form .item:nth-child(5) label {
  display: block;
  width: 100%;
}
.form_info_tab form .item:nth-child(5) span {
  display: block;
  width: 32%;
  height: 50px;
  padding-right: 15px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 5px;
}
.form_info_tab form .item:nth-child(5) span select {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  border: none;
}
.form_info_tab form .item:nth-child(5) span:last-child {
  width: 100%;
  margin-top: 20px;
  border: none;
  padding: 0;
}
.form_info_tab form .item:nth-child(5) span:last-child input {
  width: 100%;
}
.form_info_tab form .item label {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5A5A5A;
}
.form_info_tab form .item label span {
  color: #FA110D;
}
.form_info_tab form .item input {
  width: 100%;
  height: 50px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 15px;
}
.form_info_tab form .item input::placeholder {
  font-family: HelveticaNeue-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
}
.form_info_tab form .item input:focus {
  outline: 0;
}
.form_info_tab form .item input:focus::placeholder {
  opacity: 0;
}

.btn_capnhat {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #729DDA;
  border-radius: 5px;
  width: 170px;
  height: 50px;
  border: none;
}

select {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #6B6B6B;
}
select:focus {
  outline: 0;
}

.element_personal_storage {
  width: 100%;
  margin-top: 25px;
}
.element_personal_storage .item {
  width: 100%;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 0.5px solid #E6E6E6;
}
.element_personal_storage .item:hover .img img {
  transform: scale(1.2);
}
.element_personal_storage .item:hover .content a {
  color: #5582C1;
  font-weight: bold;
}
.element_personal_storage .item .img {
  width: 102px;
  height: 65px;
  overflow: hidden;
  display: block;
}
.element_personal_storage .item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.element_personal_storage .item .content {
  width: calc(100% - 102px);
  padding-left: 25px;
}
.element_personal_storage .item .content a {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.1%;
  color: #5A5A5A;
}
.element_personal_storage .item .content .date {
  margin-top: 10px;
}
.element_personal_storage .item .content .date img {
  max-width: 100%;
}
.element_personal_storage .item .content .date span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 0 5px;
  color: #A5A5A5;
  position: relative;
}
.element_personal_storage .item .content .date span:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 1px;
  background: #A5A5A5;
  right: -5px;
  top: 8px;
}
.element_personal_storage .item .content .date span:last-child:before {
  display: none;
}

.element_phantrang {
  margin-top: 35px;
  width: 100%;
}
.element_phantrang .item_box {
  float: right;
  display: inline-flex;
}
.element_phantrang .item_box a {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.36%;
  color: #424242;
  display: flex;
  width: 28px;
  height: 28px;
  background: #E6E6E6;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  transition: 0.5s;
}
.element_phantrang .item_box a:hover {
  color: #fff;
  background: #729DDA;
}
.element_phantrang .item_box a.active {
  color: #fff;
  background: #729DDA;
}

.section_slider_hp {
  width: 100%;
  height: auto;
}
.section_slider_hp .item_slide {
  width: 100%;
  position: relative;
}
.section_slider_hp .item_slide .content {
  position: absolute;
  top: 50%;
  left: 375px;
  transform: translate(0, -50%);
  width: 515px;
}
.section_slider_hp .item_slide .content h2 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
  color: #FFFFFF;
}
.section_slider_hp .item_slide .content p {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150.6%;
  color: #FFFFFF;
  margin: 20px 0 60px 0;
}
.section_slider_hp .item_slide .content .btn_xemngay {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background: #548FE3;
  border-radius: 5px;
  width: 152px;
  height: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.section_slider_hp .item_slide .content .btn_xemngay span {
  display: block;
  width: 6px;
  height: 6px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  margin-left: 10px;
}
.section_slider_hp .item_slide img {
  width: 100%;
}

.section_slider_hp {
  position: relative;
}
.section_slider_hp .element_link_vb {
  position: absolute;
  width: 33%;
  right: 0;
  bottom: 30px;
  background: rgba(45, 45, 75, 0.7);
  padding: 10px;
}
.section_slider_hp .element_link_vb a {
  display: block;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
  padding-left: 30px;
  position: relative;
  margin: 5px 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.section_slider_hp .element_link_vb a:nth-child(1):before {
  opacity: 1;
}
.section_slider_hp .element_link_vb a:before {
  position: absolute;
  content: url(./../img/link.png);
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  opacity: 0;
  transition: 0.5s;
}
.section_slider_hp .element_link_vb a:hover:before {
  opacity: 1;
}

/* header footer c */
li {
  list-style: none;
}

ul {
  padding: 0px;
}

img {
  max-width: 100%;
}

:root {
  --blue: #2D2D4B;
  --white: #ffffff;
  --colort1: #5A5A5A;
  --bgrhovera: #417ED4;
}

html body * {
  color: var(--colort1);
  word-spacing: -1px;
}

a:hover {
  color: #0056b3;
  text-decoration: unset;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
.site33_bann_col0_slide .list-banner {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.site33_bann_col0_slide .list-news {
  position: absolute;
  right: 0px;
  bottom: 15px;
  z-index: 1;
  max-height: 600px;
}

.site33_bann_col0_slide .site33_new_col6_vanbanmoi {
  position: inherit;
}

.site33_bann_col0_slide .list-item .owl-page > span {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #000;
}

.site33_bann_col0_slide .list-item .owl-page.active > span {
  opacity: 0.3;
}

.site33_bann_col0_slide .list-item {
  position: relative;
  overflow: hidden;
}

.site33_bann_col0_slide .list-item .owl-pagination {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.site33_bann_col0_slide .list-item .owl-pagination .owl-page {
  display: inline-block;
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .site33_bann_col0_slide .list-news {
    position: relative;
    max-height: unset;
    bottom: unset;
    margin: 13px 0px;
  }

  .site33_bann_col0_slide .container {
    padding: 0px;
  }
}
.site33_new_col6_vanbanmoi .item a {
  color: var(--white);
}

.site33_new_col6_vanbanmoi .list-news {
  background: #2d2d4bd6;
  color: #fff;
  padding: 15px 20px 15px 40px;
}

.site33_new_col6_vanbanmoi .list-news > li {
  position: relative;
}

.site33_new_col6_vanbanmoi .list-news > li:first-child::before {
  content: "";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  color: var(--white);
  left: -18px;
  top: 7px;
  font-size: 12px;
}

.site33_new_col6_vanbanmoi .list-news > li a {
  display: block;
  padding: 2px 0px;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  body .site33_new_col6_vanbanmoi .list-news {
    padding: 10px;
  }
}
.site33_foot_col12_chantrang {
  background: #E9E9E9;
}

.site33_foot_col12_chantrang .row {
  padding: 10px;
  display: flex;
}

.site33_foot_col12_chantrang .copyright {
  font-size: 14px;
  padding: 7px 0px;
  background: var(--blue);
  text-align: center;
  color: var(--white);
  margin-bottom: 0;
}

.site33_foot_col12_chantrang h2 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 0px;
  margin: 0px;
  line-height: 22px;
}

.site33_foot_col12_chantrang .info {
  font-size: 14px;
}

.site33_foot_col12_chantrang .info i {
  font-size: 18px;
  margin-right: 13px;
}

.site33_foot_col12_chantrang .info ul {
  display: flex;
  justify-content: space-between;
}

.site33_foot_col12_chantrang .info p, .site33_foot_col12_chantrang .info ul li {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150.5%;
  color: #5A5A5A;
}

.site33_foot_col12_chantrang .info p img {
  margin-right: 15px;
}

.site33_foot_col12_chantrang .info ul li img {
  margin-right: 15px;
}

.site33_foot_col12_chantrang .col-right {
  display: flex;
}

.site33_foot_col12_chantrang .col-right ul {
  margin: auto;
  margin-right: 0px;
}

.site33_foot_col12_chantrang .col-right ul a {
  padding: 6px;
  display: inline-block;
}

.site33_foot_col12_chantrang .col-right ul i {
  font-size: 20px;
  color: var(--blue);
}

.site33_foot_col12_chantrang .col-left {
  padding-right: 30px;
}

@media screen and (max-width: 1199px) {
  .site33_foot_col12_chantrang .col-left {
    padding-right: 15px;
  }

  .site33_foot_col12_chantrang .info ul li {
    min-width: 150px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .site33_foot_col12_chantrang .info ul {
    display: block;
  }

  .site33_foot_col12_chantrang .info ul li {
    display: inline-block;
  }
}
@media screen and (max-width: 550px) {
  .site33_foot_col12_chantrang .info ul li {
    min-width: unset;
  }

  .site33_foot_col12_chantrang .col-left {
    flex: 0 0 90%;
    max-width: 90%;
    padding-left: 0px;
  }

  .site33_foot_col12_chantrang .col-right {
    flex: 0 0 10%;
    max-width: 10%;
    padding-left: 10px;
  }
}
/* ------main-header------ */
#mobile-sidebar-view, #popup-enroll {
  display: none;
}

::placeholder {
  color: white;
}

header {
  padding: 8px 0;
  height: 91px;
}

.main-header {
  /*background: var(--white);*/
  display: flex;
  justify-content: flex-end;
  padding: 0 15px;
}

.main-header .menu-bar #icon-click {
  display: none;
}

.main-header .menu-bar > li {
  position: relative;
  display: inline-block;
  padding: 0px;
  text-align: center;
  margin: 0px;
}

.main-header .menu-bar > li > a {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #5A5A5A;
  padding: 13px 14px;
  text-align: center;
}

.main-header .menu-bar a {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 18px;
}

.main-header .menu-bar li ul li a {
  font-size: 14px;
  text-transform: none;
  font-weight: normal;
  word-spacing: -1px;
}

.main-header .menu-bar .register a {
  color: var(--white);
}

.main-header .menu-bar > li:hover > a {
  color: var(--bgrhovera);
}

.main-header .menu-bar > li:last-child a {
  padding-right: 5px !important;
}

.main-header .menu-bar button:hover {
  background: var(--bgrhovera);
}

.main-header .menu-bar button:hover a {
  color: white;
}

/* .menu-bar .sub-menu::before {
    content: "";
    position: absolute;
    left: 10%;
    top: -15px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid var(--white);
} */
.main-header .menu-bar > li:hover .sub-menu {
  display: block;
}

.menu-bar .sub-menu {
  display: none;
  z-index: 999;
  padding: 0px;
  position: absolute;
  width: 181px;
  top: unset;
  left: 0px;
  /* top: 62px;
  left: 24px; */
  background: var(--white);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.menu-bar .sub-menu::before {
  content: "";
  width: 70px;
  display: inline-block;
  height: 2px;
  background: var(--bgrhovera);
  position: absolute;
  left: 15px;
}

.menu-bar .sub-menu > li {
  padding: 0px;
  text-align: left;
}

.menu-bar .sub-menu > li a {
  padding: 10px 15px;
  text-align: left;
  display: block;
}

.menu-bar .sub-menu > li a:hover {
  background: var(--bgrhovera);
  color: var(--white);
}

.menu-bar .sub-menu li a {
  color: #5c5c5c;
}

/* popup-enroll */
.content-enroll {
  width: 672px;
  height: 460px;
  padding: 45px 52px;
  background: var(--white);
  border-radius: 5px;
  position: fixed;
  z-index: 999999;
  top: 0;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.close-popup {
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 30px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  background: var(--white);
}

.content-enroll .title-form {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--bgrhovera);
  margin-bottom: 26px;
}

.content-enroll button {
  background: var(--bgrhovera);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  height: 40px;
  width: 182px;
  padding: auto 35px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.content-enroll button:hover {
  background: var(--bgrhovera);
  color: var(--white);
}

.content-enroll input[type=text], .content-enroll input[type=tel], .content-enroll input[type=email] {
  width: 100%;
  height: 44px;
  padding: 15px;
  margin: 0 0 15px 0;
  display: inline-block;
  background: var(--white);
  border: 1px solid rgba(151, 151, 151, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
}

.content-enroll .textNote {
  border: 1px solid rgba(151, 151, 151, 0.3);
  width: 100%;
  height: 72px;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 27px;
}

.content-enroll ::placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #747474;
}

.shadow-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000000;
  opacity: 0.7;
  border: 1px solid #cecece;
  z-index: 9992;
}

.site33_head_col12_menu.site33_head_col12_menu_fixed_hp {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: rgba(250, 250, 250, 0.9);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
}

.site33_head_col12_menu .list-top {
  float: left;
  width: 100%;
  padding-top: 20px;
}

.list-top > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.site33_head_col12_menu .list-top li:nth-child(3) {
  order: 1;
}

.site33_head_col12_menu .list-top li:nth-child(2) {
  order: 2;
}

.site33_head_col12_menu .list-top li:nth-child(2) img {
  margin-left: 10px;
}

.site33_head_col12_menu .list-top li:nth-child(1) {
  order: 3;
}

.site33_head_col12_menu .list-top li {
  float: right;
  margin-left: 25px;
}

.site33_head_col12_menu .list-top li a {
  font-size: 14px;
  font-weight: 600;
  display: block;
  font-family: Helvetica Neue;
  font-style: normal;
  line-height: 17px;
  color: #5A5A5A;
  padding: 0;
}

.site33_head_col12_menu .list-top li a img {
  margin-left: 15px;
}

.site33_head_col12_menu .list-top li:first-child a {
  padding-right: 5px;
}

.site33_head_col12_menu .list-top li i {
  font-size: 16px;
}

.site33_head_col12_menu .list-top li i {
  font-size: 16px;
}

.site33_head_col12_menu .list-top li i.fa-user {
  margin-left: 10px;
}

.site33_head_col12_menu .menu-bar {
  clear: both;
  margin: 0px;
  float: left;
}

.site33_head_col12_menu .brand-logo {
  padding: 8px 0px;
  margin-right: auto;
}

.site33_head_col12_menu .menu-bar {
  width: 100%;
}

#icon-click {
  float: right;
}

#icon-click i {
  font-size: 24px;
}

/* responsive */
@media screen and (max-width: 1199px) {
  .main-header .menu-bar > li {
    padding: 0px;
  }

  .main-header .menu-bar a {
    font-size: 14px;
  }

  .main-header .menu-bar > li > a {
    display: block;
    padding: 13px 5px;
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .site33_head_col12_menu .list-top li:first-child a {
    padding-right: 0px;
  }

  #header {
    background-color: white;
  }

  .main-header .menu-bar > li, .main-header .menu-bar button {
    display: none;
  }

  .main-header .menu-bar {
    line-height: 40px;
  }

  .main-header .menu-bar #icon-click {
    display: block;
  }

  .sticky {
    width: 100%;
    position: fixed;
    z-index: 9991;
    top: 0;
  }

  /* ---sidebar menu view---- */
  .mobile-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 320px;
    background: var(--white);
    z-index: 9999;
    padding: 16px 11px 25px 20px;
    box-shadow: 1px 0 1px #ccc;
  }

  .top-accordion {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #979797;
  }

  .close-sidebar {
    font-size: 40px;
    height: 44px;
    line-height: 44px;
    font-weight: 500;
    cursor: pointer;
  }

  .mobile-sidebar .logo {
    text-align: center;
    padding: 20px 0;
  }

  .mobile-sidebar .enrollment {
    text-align: center;
  }

  .language.mb {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* ------accordion------- */
  .accordion {
    width: 100%;
    /* max-width: 360px; */
    margin: 10px auto 20px;
    background: var(--white);
  }

  .accordion .link {
    cursor: pointer;
    display: block;
    padding: 10px 15px 10px 0;
    font-size: 14px;
    font-weight: 700;
    /* border-bottom: 1px solid #ccc; */
    position: relative;
    transition: all 0.4s ease;
  }

  .accordion .link a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #5c5c5c;
  }

  .accordion li i.fa-chevron-down {
    position: absolute;
    top: 10px;
    left: 12px;
    font-size: 18px;
    color: #5c5c5c;
    transition: all 0.4s ease;
  }

  .accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
  }

  .accordion li.open .link a {
    color: var(--bgrhovera);
    border-bottom: 3px solid var(--bgrhovera);
  }

  .accordion li.open i.fa-chevron-down {
    color: var(--bgrhovera);
  }

  .accordion li.open i.fa-chevron-down {
    transform: rotate(180deg);
  }

  .submenu {
    display: none;
    font-size: 14px;
  }

  .submenu li {
    border-bottom: 1px solid rgba(91, 91, 91, 0.1);
  }

  .submenu a {
    display: block;
    text-decoration: none;
    color: #4d4d4d;
    padding: 12px;
    padding-left: 30px;
    transition: all 0.25s ease;
  }

  .submenu a:hover {
    background: var(--bgrhovera);
    color: var(--white);
  }

  .submenu .fa-chevron-right {
    padding-right: 5px;
    font-size: 13px;
  }

  .below-accordion {
    border-top: 1px solid #979797;
    margin-top: 13px;
    padding-top: 12px;
  }
}
@media screen and (max-width: 767px) {
  .content-enroll {
    width: 100%;
    padding: 30px 20px;
    background: var(--white);
    border-radius: 5px;
    position: fixed;
    z-index: 999999;
    top: 0;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  #popup-enroll .shadow-bg {
    z-index: 99990;
  }

  .content-enroll .close-popup {
    top: 0;
    right: 0;
  }

  #messenger {
    bottom: 190px;
    right: 9px;
  }
}