.section_header {
	background: #dadde1;
	padding-top: 15px;
	.element_header {
		background-color: #4f84ce;
	}
	.row {
		display: flex;
	    flex-flow: row wrap;
	    justify-content: flex-end;
	    align-items: center;
	    .logo_page {
	    	width: 100px;
		    background: #000;
		    height: 80px;
		    margin-right: auto;
	    }
	    .list_menu {
	    	> ul {
    		    padding: 0;
			    margin: 0;
			    list-style: none;
			    color: #fff;
			    display: flex;
			    flex-flow: row wrap;
			    justify-content: flex-end;
			    > li {
			    	text-transform: uppercase;
			    	> a {
			    	 	padding: 15px;
					    color: #fff;
					    transition: 0.5s;
					    text-decoration: none;
					    > img {
					    	width: 15px;
					    	height: 15px;
					    	overflow: hidden;
					    }
			    	}
			    	&:last-child {
			    		>a {
			    			padding-right: 0;
			    		}
			    	}
			    }
	    	}
	    }
	}
}

.section_header.section_header_fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	z-index: 1;
}

.section_slider_page {
	width: 100%;
	overflow: hidden;
	position: relative;
	.element_slider {
		width: 100%;
		.item {
			width: 100%;
			position: relative;
			img {
				width: 100%;
			}
			.content {
				position: absolute;
				top: 50%;
				left: 375px;
				h2 {
				    color: #fff;
				    font-size: 46px;
				}
				p {
					color: #fff;
				    font-size: 18px;
				    width: 55%;
				    margin-top: 25px;
				    margin-bottom: 0;
				}
				button {
					background: #689adf;
				    color: #fff;
				    font-size: 18px;
				    display: flex;
				    flex-flow: row wrap;
				    justify-content: space-between;
				    align-items: center;
				    padding: 12px 25px;
				    margin-top: 25px;
				    transition: 0.5s;
				    img {
			    	    width: 30px;
					    margin-left: 15px;
				    }
				    &:hover {
				    	background: #4f84ce;
				    }
				}
			}
		}
	}
}
.element_vanban_slider {
	position: absolute;
	width: 100%;
	overflow: hidden;
	bottom: 0;
	left: 0;
	background: #ffffffd6;
	padding: 15px 0;
	.icon {
	    text-align: center;
	    border-right: 1px solid #4f84ce;
	    padding-right: 15px;
	    width: 160px;
	    p {
	    	color: #4f84ce;
		    text-transform: uppercase;
		    margin-top: 15px;
		    font-size: 20px;
	    }
	}
	.content {
		width: calc(100% - 160px);
	    padding-left: 25px;
	    a {
	    	text-decoration: none;
	    	font-size: 18px;
	    }
	}
	.row {
		display: flex;
	    flex-flow: row wrap;
	    justify-content: space-between;
	    align-items: center;
	}
}
.countdown_about {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	.col_counter {
		width: auto;
		text-align: center;
		.counter-number {
		    font-family: Oswald;
		    font-style: normal;
		    font-weight: normal;
		    font-size: 72px;
		    line-height: 107px;
		    color: #4f84ce;
		}
		.counter-title {
		    font-family: Roboto;
		    font-style: normal;
		    font-weight: normal;
		    font-size: 16px;
		    line-height: 19px;
		    color: #424242;
		}
	}
}

.section_gioithieu {
	padding: 60px 0;
	.element_gioithieu {
		width: 49%;
		overflow: hidden;
		.depscription {
			font-family: Roboto;
			font-size: 18px;
		}
	}
	.element_img {
		width: 49%;
		position: relative;
		&:before {
			position: absolute;
			content: '';
			width: 70%;
			height: 100%;
			border: 2px solid #7aa5e2;
			right: -30px;
			top: -30px;
			z-index: -1;
		}
		img {
			width: 90%;
			float: right;
		}
	}
	.row {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}
}
.title_color {
	margin-bottom: 15px;
	h2 {
		text-transform: uppercase;
		font-size: 36px;
		color: #2d2d4b;
		font-family: UTMAvoBold;
		position: relative;
		display: inline;
		&:before {
			position: absolute;
			content: '';
			width: 42%;
			height: 4px;
			background: #7aa5e2;
			left: 0;
			bottom: 0;
		}
	}
}

.btn_xemthem {
	background: #fff;
	border: 1px solid #7aa5e2;
	color: #7aa5e2;
	font-size: 18px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px;
    margin-top: 25px;
    transition: 0.5s;
    img {
	    width: 30px;
	    margin-left: 15px;
    }
    &:hover {
    	color: #fff;
    	background: #7aa5e2;
    	img {
    		display: none;
    	}
    	.hover_img {
    		display: block;
    	}
    }
    .hover_img {
    	display: none;
    }
}

.element_list_dichvu {
	display: inline-block;
	margin: 60px -15px;
	.item_dichvu {
		overflow: hidden;
		width: 370px;
		height: 370px;
		position: relative;
		margin-bottom: 30px;
		.img {
			width: 100%;
			height: 100%;
			position: relative;
			.title_p {
				position: absolute;
				width: 100%;
				bottom: 0;
				left: 0;
				text-align: center;
				background: #4f84ceb8;
				padding: 25px 15px;
				p {
					color: #fff;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					overflow: hidden;
					margin: 0;
					font-size: 18px;
					font-family: Roboto;
				}
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: 0.3s;
			}
		}
		.content {
			position: absolute;
			width: 100%;
			top: 100%;
			left: 0;
			height: 100%;
			background: #4f84ceb8;
			transition: 0.3s;
			a {
				display: block;
			    color: #fff;
			    z-index: 4;
			    position: absolute;
			    top: 40%;
			    left: 50%;
			    transform: translate(-50%, -50%);
			    width: 90%;
			    font-size: 18px;
			    font-family: roboto;
			    text-align: center;
			    text-decoration: none;
			}
			.xemngay_btn {
				color: #fff;
			    border: 1px solid #fff;
			    background: transparent;
			    font-size: 18px;
			    padding: 10px 25px;
			    border-radius: 5px;
			    position: absolute;
			    top: 55%;
			    left: 50%;
			    transform: translate(-50%, -50%);
			    &:focus {
			    	outline: 0;
			    }
			}
		}
		&:hover {
			.img {
				img {
					transform: scale(1.2);
				}
			}
			.title_p {
				opacity: 0;
			}
			.content {
				top: 0;
			}
		}
	}
}
.section_dichvu {
	background: #22212c;
	padding-top: 60px;
}
.title_light {
	h2 {
		color: #fff;
		font-size: 36px;
		font-family: UTMAvobold;
		text-transform: uppercase;
		text-align: center;
		position: relative;
		&:before {
			position: absolute;
			content: '';
			width: 100px;
			height: 4px;
			background: #fff;
			bottom: -20px;
			left: 50%;
			transform: translate(-50%,0);
		}
	}
}

.title_light_color {
	h2 {
		color: #2d2d4b;
		font-size: 36px;
		font-family: UTMAvobold;
		text-transform: uppercase;
		text-align: center;
		position: relative;
		&:before {
			position: absolute;
			content: '';
			width: 100px;
			height: 4px;
			background: #7aa5e2;
			bottom: -20px;
			left: 50%;
			transform: translate(-50%,0);
		}
	}
}

.section_lienket {
	padding: 60px 0;
}
.element_lienket {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 80px;
	.item {
		width: 49%;
		>img {
			width: 100%;
		}
		.item_box {
			width: 100%;
			.icon {

			}
		}
	}
}

.contact_form {
	width: 48%;
	float: left;
	h4 {
		color: #fff;
		text-transform: uppercase;
		font-size: 16px;
		font-family: UTMAvobold;
	}
	p {
		color: #fff;
	    font-family: Roboto;
	    font-size: 18px;
	}
	form {
		width: 100%;
		input {
			margin: 8px 0;
			&::placeholder {
				font-size: 16px;
			}
			&:focus {
				outline: 0;
				&::placeholder {
					opacity: 0;
				}
			}
			&:nth-child(1) , &:nth-child(4) {
				width: 100%;
				border: none;
				height: 45px;
				padding-left: 15px;
				padding-right: 15px;
			}
			&:nth-child(2) {
				width: 48%;
				border: none;
				height: 45px;
				padding-left: 15px;
				padding-right: 15px;
				float: left;
			}
			&:nth-child(3) {
				width: 48%;
				border: none;
				height: 45px;
				padding-left: 15px;
				padding-right: 15px;
				float: right;
			}
		}
		textarea {
			width: 100%;
			border: none;
			height: 45px;
			padding-left: 15px;
			padding-right: 15px;
			height: 100px;
			margin: 8px 0;
			padding-top: 10px;
			&::placeholder {
				font-size: 16px;
			}
			&:focus {
				outline: 0;
				&::placeholder {
					opacity: 0;
				}
			}
		}
		.btn_contactform {
			width: 100%;
		    background: #4f84ce;
		    border: none;
		    height: 45px;
		    color: #fff;
		    font-size: 16px;
		    font-family: roboto;
		    text-transform: uppercase;
		    line-height: 45px;
		    img {
		    	margin-left: 15px;
		    }
		}
	}
}
.element_map {
	width: 48%;
	float: right;
	overflow: hidden;
	h4 {
		color: #fff;
		text-transform: uppercase;
		font-size: 16px;
		font-family: UTMAvobold;
	}
	.info_company {
		p {
			font-size: 16px;
			color: #fff;
			font-family: Roboto;
			display: flex;
			align-items: center;
			span {
				display: block;
				width: 50px;
			}
			&:nth-child(3) {
				float: left;
			}
			&:nth-child(3) , &:nth-child(4) {
				width: 50%;
			}
		}
	}
	
}
.section_footer {
	background: #2d2d4b;
	padding-top: 60px;
}
.copyrighter {
	border-top: 1px solid #ffffff73;
	.row {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;
	}
	.element_link {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		a {
			width: 20px;
			margin-right: 10px;
			img {
				width: 100%;
			}
			&:first-child {
				width: 50px;
				img {
					width: 100%;
				}
			}
		}
	}
	p {
		margin-left: auto;
		color: #fff;
	    font-family: Roboto;
	    font-size: 16px;
	    margin-bottom: 0;
	}
}

/* 17/03/2021 */
.title_page {
	h2 {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 44px;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-top: 0;
	}
}

.section_banner_page {
	position: relative;
	overflow: hidden;
	height: 177px;
	> img {
		width: 100%;
		object-fit: cover;
		height: 100%;
	}
	.element_title_page {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0 , -50%);
		width: 100%;
	}
	&:before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 105, 0.5);
		top: 0;
		left: 0;
		/*opacity: 0.5;*/
	}
}

.breadcrumb_page {
	a {
		font-family: Helvetica Neue;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 16px;
	    line-height: 19px;
	    color: #fff;
	    position: relative;
	    padding: 0 15px;
	    &:nth-child(1) {
	    	padding-left: 0;
	    }
	    &:last-child {
	    	color: #9FCAFF;
	    	&:before {
	    		display: none;
	    	}
	    }
	    &:before {
	    	position: absolute;
	    	content: '';
	    	width: 6px;
	    	height: 6px;
	    	border-top: 1px solid #fff;
	    	border-right: 1px solid #fff;
	    	transform: rotateZ(45deg);
	    	right: 0;
	    	top: 7px;
	    }
	}
}

.section_about_us {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	.element_text {
		width: 50%;
		overflow: hidden;
	    padding-left: 368px;
	    padding-right: 70px;
	    .title_line {
	    	margin-bottom: 35px;
	    }
		p {
			font-family: Helvetica Neue;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 151.3%;
			text-align: justify;
			color: #424242;
		}
	}
	.element_img_aboutus {
		width: 50%;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
}

.title_line {
	margin: 8px 0;
	h2 {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 54px;
		text-transform: uppercase;
		color: #2D2D4B;
		position: relative;
		margin: 0;
		&:before {
			position: absolute;
			content: '';
			width: 95px;
			height: 5px;
			background: #7AA5E2;
			bottom: -8px;
			left: 0;
		}
	}
}

.section_depscription {
	background: #FAFAFA;
	padding: 44px 0 36px 0;
	p {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 151.3%;
		text-align: justify;
		color: #424242;
	}
}

.xemngay_btn {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #548FE3;
	position: relative;
	border: 1px solid #548FE3;
	box-sizing: border-box;
	border-radius: 5px;
	width: 152px;
	height: 50px;
	padding-right: 35px;
	background: transparent;
	margin-top: 25px;
	transition: 0.5s;
	&:before {
		position: absolute;
		content: '';
		width: 6px;
		height: 6px;
		border-top: 1px solid #548FE3;
		border-right: 1px solid #548FE3;
		transform: rotateZ(45deg);
		top: 22px;
		right: 30px;
		transition: 0.5s;
	}
	&:focus {
		outline: 0;
	}
	&:hover {
		color: #fff;
		background: #548FE3;
		&:before {
			border-top: 1px solid #fff;
			border-right: 1px solid #fff;
		}
	}
}

.section_about_us_bg {
	background-image: url(./../img/bg1.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 117px 0;
	position: relative;
	&:before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		background: #4171B3;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.title_line {
		h2 {
			color: #fff;
			&:before {
				background: #fff;
			}
		}
	}
	p {
		color: #fff !important;
	}
	.xemngay_btn {
		color: #fff;
		border: 1px solid #fff;
		&:before {
			border-top: 1px solid #fff;
			border-right: 1px solid #fff;
		}
		&:hover {
			border-color: #548FE3;
		}
	}
}

.title_basic {
	margin: 25px 0;
	h2 {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		line-height: 150%;
		text-align: center;
		text-transform: uppercase;
		color: #2D2D4B;
		margin: 0;
	}
}

.section_quytrinh {
	background-image: url(../img/bg2.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding-bottom: 32px;
	&:before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		background: #e5e5e5a8;
		z-index: -1;
		top: 0;
		left: 0;
	}
}

.element_form {
	width: 100%;
	padding: 30px;
	background: #fff;
	.quytrinh {
		width: 100%;
		.item {
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			margin: 20px 0;
			label {
				width: 30%;
				display: block;
				font-family: Helvetica Neue;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				color: #424242;
			}
			span {
				display: block;
				width: 70%;
				border: 1px solid #E6E6E6;
				padding-right: 15px;
				input {
					width: 100%;
					height: 50px;
					border: none;
					padding-left: 15px;
					&::placeholder {
						font-family: Helvetica Neue;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 19px;
						color: #C4C4C4;
					}
					&:focus {
						outline: 0;
						&::placeholder {
							opacity: 0;
						}
					}
				}

				select {
					width: 100%;
					height: 50px;
					border: none;
					&:focus {
						outline: 0;
						&::placeholder {
							opacity: 0;
						}
					}
				}
			}
		}
	}
}

.xemquytrinh {
	font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background: #729DDA;
    width: 100%;
    height: 50px;
    border: none;
    margin-top: 5px;
    &:focus {
    	outline: 0;
    }
}

.element_tab_form {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	.nav_tab {
		width: 30%;
		display: block;
		li {
			width: 100%;
			height: 125px;
			a {
				font-family: Helvetica Neue;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 150.1%;
				text-align: center;
				color: #424242;
				display: block;
				width: 90%;
				height: 100%;
				float: left;
				display: flex;
			    align-items: center;
			    justify-content: center;
			    border-radius: 0;
			    background: #fff;
			    border-bottom: 2px solid #DBDBDB;
			    padding: 0 28%;
			}
			a.active {
			}
		}
		li.active {
			a {
				color: #fff;
				background: #729DDA;
				position: relative;
				&:before {
					position: absolute;
					content: url(./../img/before.png);
					top: 50%;
					right: -15px;
				    transform: translate(0 , -50%);
				}
			}
		}
	}
	.tab_content {
		width: 70%;
		background: #fff;
		.element_form {
			padding: 0 30px;
		}
	}
}

.section_main_bg {
	background: #F6F6F6;
	.element_search_vb {
		background: #fff;
		width: 100%;
		padding: 25px 15px;
		margin-top: 30px;
		margin-bottom: 15px;
		h2 {
			font-family: Helvetica Neue;
			font-style: normal;
			font-weight: bold;
			font-size: 21.61px;
			line-height: 26px;
			color: #5A5A5A;
			margin-top: 0;
		}
		.search_vb {
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
			border: 0.994714px solid #77A6E9;
			.btn_searchvb {
				background: #548FE3;
				font-family: Helvetica Neue;
				font-style: normal;
				font-weight: bold;
				font-size: 15.9154px;
				line-height: 19px;
				color: #FFFFFF;
				width: 154px;
				height: 50px;
				border: none;
				&:focus {
					outline: 0;
				}
				img {
					margin-right: 15px;
				}
			}
			span {
				display: block;
				height: 100%;
				padding: 0 15px;
				border-right: 2px solid #97979773;
				&:last-child {
					padding: 0;
					border-right: none;
				}
				&:nth-child(4) {
					border-right: none;
				}
				input {
					border: none;
				}
				select {
					border: none;
					font-family: Arial;
					font-style: normal;
					font-weight: normal;
					font-size: 15.9154px;
					line-height: 18px;

					color: #979797;
					&:focus {
						outline: 0;
					}
				}
			}
		}
	}
}

.element_kq_search {
	width: 100%;
	padding: 15px 15px 30px 15px;
	background: #fff;
	margin-bottom: 40px;
	.item_box {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		padding: 20px 15px;
		&:nth-child(2n + 1) {
			background: #F6F6F6;
		}
		.item {
			&:nth-child(1) {
				width: 63%;
				padding-right: 15px;
			}
			&:nth-child(2) {
				width: 27%;
				padding-left: 30px;
			}
			&:nth-child(3) {
				width: 10%;
			}
			p {
				font-family: Arial;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 155.49%;
				color: #494D52;
				margin: 0;
			}
			.btn_taive {
				font-family: Helvetica Neue;
			    font-style: normal;
			    font-weight: normal;
			    font-size: 15.8877px;
			    line-height: 19px;
			    color: #548FE3;
			    background: transparent;
			    border: none;
			    img {
			    	margin-left: 15px;
			    	vertical-align: baseline;
			    }
			}
		}
	}
}

button {
	&:focus {
		outline: 0;
	}
}

.section_phantrang {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 30px;
    p {
    	font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150.36%;
		margin: 0 20px 0 0;
		color: #424242;
    }
    span {
    	background: #548FE3;
		border-radius: 5px;
		display: flex;
	    align-items: center;
	    padding-left: 22px;
		width: 55px;
		height: 55px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 150.36%;
		margin: 0 15px;
		color: #FFFFFF;
    }
    button {
	    border: 1px solid #548FE3;
	    box-sizing: border-box;
	    border-radius: 5px;
	    height: 55px;
	    padding: 0 25px;
	    transition: 0.5s;
	    background: transparent;
		font-size: 16px;
		line-height: 150.36%;
		color: #424242;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		color: #5A5A5A;
	    &:hover {
	    	background: #548FE3;
	    	color: #fff;
	    	border: 1px solid #548FE3;
	    	img {
	    		filter: inherit;
	    	}
	    }
    }
    .btn_prev {
    	img {
    		transform: rotateZ(180deg);
		    filter: invert(1);
		    margin-right: 15px;
    	}
    }
    .btn_next {
    	background: #548FE3;
    	border: 1px solid #548FE3;
		border-radius: 5px;
		color: #FFFFFF;
    	img {	
		   /* filter: invert(1);*/
		    margin-left: 15px;
    	}
    }
}

.section_main_bg {
	.despcription {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 151.3%;
		text-align: justify;
		margin-top: 15px;
	    margin-bottom: 0;
		color: #424242;
	}
}

.project_item {
	width: 32%;
	.img {
		display: block;
		width: 100%;
		height: 235px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: 0.5s;
		}
	}
	&:hover {
		.img {
			img {
				transform: scale(1.2);
			}
		}
		.content {
			a {
				color: #548FE3;
				font-weight: bold;
			}
			p {
				color: #548FE3;
				font-weight: bold;
				img {
					display: none;
				}
				.img_hover {
					display: block !important;
				}
			}
		}
	}
	.content {
	    padding: 15px;
	    background: #fff;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
		a {
			font-family: Helvetica Neue;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 150.1%;
			color: #5A5A5A;
			transition: 0.5s;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		p {
			width: 50px;
			overflow: hidden;
			font-family: Helvetica Neue;
			font-style: normal;
			font-weight: bold;
			font-size: 11.1816px;
			line-height: 150.1%;
			color: #D3D1D1;
			text-align: center;
			img {
				max-width: 100%;
				margin: auto;
			}
			.img_hover {
				display: none;
			}
		}
	}
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.slider_project {
	margin: 30px -15px 0 -15px;
	.slick-slide {
		margin: 0 15px;
	}
	.slick-prev {
	    left: 15px;
	    z-index: 1;
	    top: 30%;
	    &:before {
	    	display: none;
	    }
	}
	.slick-next {
	    right: 25px;
	    z-index: 1;
	    top: 30%;
	    &:before {
	    	display: none;
	    }
	}
}

.element_project {
	margin: 30px 0 40px 0;
}

.slider_for_detail {
	width: 75%;
	overflow: hidden;
	.img {
		width: 100%;
		height: 570px;
	}
	.slick-prev {
	    left: 0;
	    z-index: 1;
	    &:before {
	    	display: none;
	    }
	}
	.slick-next {
	    right: 15px;
	    z-index: 1;
	    &:before {
	    	display: none;
	    }
	}
}

.slider_nav_detail {
	width: 100%;
	.img {
		width: auto;
		height: 140px;
		overflow: hidden;
		position: relative;
		&:before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			background: #ffffff87;
			top: 0;
			left: 0;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.slick-slide {
		padding: 0 10px;
	}
	.slick-slide.slick-current.slick-active {
		.img {
			&:before {
				display: none;
			}
		}
	}
}

.detail_content {
	width: 25%;
	overflow: hidden;
	float: left;
}

.title_detail {
	margin: 8px 0;
	h2 {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		text-transform: uppercase;
		color: #2D2D4B;
		position: relative;
		margin: 0;
		&:before {
			position: absolute;
			content: '';
			width: 95px;
			height: 5px;
			background: #7AA5E2;
			bottom: -8px;
			left: 0;
		}
	}
}
.element_detail {
	margin-top: 30px;
	padding-right: 25px;
	.item {
		border-bottom: 1px solid #E6E6E6;
		p {
			font-family: Helvetica Neue;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: #5A5A5A;
			margin: 0;
			padding: 15px 0;
		}
		&:last-child {
			border-bottom: none;
		}
	}
}

.section_detail_project {
	padding: 60px 0;
}

.element_nav {
	margin: 15px -15px 0 -15px;
}

.section_faq {
	padding: 25px 0;
}

.element_faq {
	width: 100%;
	margin-top: 45px;
	.faq_item.active {
		.item {
			background: #548fe3;
			> span {
				background: #548FE3;
				color: #FFFFFF;
			}
			p {
				color: #fff;
			}
			.icon {
				background: #548FE3;
				span {
					background: #ffffff;
					&:nth-child(2) {
						display: none;
					}
				}
			}
		}
		.content_box {
			display: block;
		}
	}
	.faq_item {
		width: 100%;
		transition: 0.5s;
		.item {
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			background: #fff;
			margin-bottom: 3px;
			&:hover {
				cursor: pointer;
			}
			> span {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 71px;
				height: 68px;
				font-family: Helvetica Neue;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 150.36%;
				color: #5A5A5A;
				border-right: 3px solid #f6f6f6;
			}
			p {
				font-family: Helvetica Neue;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 150.36%;
				color: #5A5A5A;
				margin: 0;
				text-align: left;
				width: calc(100% - 145px);
				padding-left: 30px;
			}
			.icon {
				width: 71px;
				height: 68px;
				background: #fff;
				display: block;
				position: relative;
				border-left: 3px solid #f6f6f6;
				span {
					display: block;
					background: #9C9C9C;
					&:nth-child(2) {
						width: 2px;
						height: 14px;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						position: absolute;
					}
					&:nth-child(1) {
						width: 14px;
						height: 2px;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						position: absolute;
					}
				}
			}
		}
		.content_box {
			padding: 20px 0;
			display: none;
			p {
			    font-family: Helvetica Neue;
			    font-style: normal;
			    font-weight: normal;
			    font-size: 16px;
			    line-height: 150.36%;
			    color: #424242;
			}
		}
	}
}

.element_contact {
	width: 50%;
	float: left;
	overflow: hidden;
	padding-right: 25px;
	> p {
		font-family: Helvetica Neue;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 18px;
	    line-height: 164.71%;
	    text-align: justify;
	    color: #424242;
	    margin-top: 35px;
	}
	.contact_box {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		input {
			width: 100%;
			height: 45px;
			border: 1px solid #E1E1E1;
			margin-bottom: 17px;
			padding: 0 15px;
			&:nth-child(2) , &:nth-child(3) {
				width: 48%;
			}
			&::placeholder {
				font-family: Helvetica Neue;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 19px;
				color: #AFAFAF;
			}
			&:focus {
				outline: 0;
				&::placeholder {
					opacity: 0;
				}
			}
		}
		textarea {
			width: 100%;
			height: 183px;
			border: 1px solid #E1E1E1;
			margin-bottom: 17px;
			padding: 15px;
			&::placeholder {
				font-family: Helvetica Neue;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 19px;

				color: #AFAFAF;
			}
			&:focus {
				outline: 0;
				&::placeholder {
					opacity: 0;
				}
			}
		}
		.btn_guiyeucau {
			background: #5582C1;
		    width: 100%;
		    border: none;
		    height: 52px;
		    font-family: Lato Black;
		    font-style: normal;
		    font-weight: 900;
		    font-size: 16px;
		    line-height: 19px;
		    color: #FFFFFF;
		    img {
		    	margin-left: 15px;
		    }
		}
	}
}

.element_map {
	width: 50%;
	float: left;
	overflow: hidden;
	padding-left: 22px;
	.map_box {
		margin-top: 35px;
		height: 300px;
		overflow: hidden;
		iframe {
			width: 100%;
			height: 100%;
		}
	}
}

.item_addres {
	.content {
		h2 {
			font-family: Helvetica Neue;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			text-transform: uppercase;
			color: #5A5A5A;
			margin: 30px 0;
		}
		p {
			font-family: Helvetica Neue;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			color: #5A5A5A;
			span {
				margin-right: 15px;
			}
			&:nth-child(3) , &:nth-child(4) {
				width: 50%;
				float: left;
			}
		}
	}
}

.section_contact {
	padding: 30px 0;
}

.section_dangcapnhat {
	background: #F6F6F6;
	height: 587px;
	display: flex;
	justify-content: center;
	align-items: center;
	h2 {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 44px;
		text-transform: uppercase;
		color: #C4C4C4;
	}
}

.section_dangnhap {
	width: 100%;
	overflow: hidden;background-image: url(./../img/bg3.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 108px 0;
}
.form_dangnhap {
	background: #fff;
	width: 570px;
	padding: 56px 0;
	form {
		text-align: center;
		h2 {
			font-family: Roboto;
		    font-style: normal;
		    font-weight: bold;
		    font-size: 24px;
		    line-height: 28px;
		    color: #2D2D4B;
		    text-align: center;
		}
		> span {
			display: block;
			height: 47px;
			width: 80%;
			border: 1px solid #C4C4C4;
			box-sizing: border-box;
			border-radius: 5px;
			margin: 20px auto;
			position: relative;
			img {
				position: absolute;
				right: 15px;
				top: 50%;
				transform: translate(0 , -50%);
			}
			input {
				width: 100%;
				height: 100%;
				border: none;
				padding: 0 15px;
				&:focus {
					outline: 0;
					&::placeholder {
						opacity: 0;
					}
				}
			}
		}
		.box_item {
		    display: flex;
		    align-items: center;
		    flex-flow: row wrap;
		    justify-content: space-between;
		    width: 80%;
		    margin: 25px auto;
		}
		.btn_dangnhap {
			width: 80%;
			height: 47px;
			background: #729DDA;
			border-radius: 5px;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			color: #FFFFFF;
			margin:auto;
			border: none;
		}
		p {
			font-family: Helvetica Neue;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #5A5A5A;
			margin: 25px 0;
			a {
				color: #729DDA;
			}
		}
		.btn_link_box {
			width: 80%;
			margin: auto;
			display: flex;
			justify-content: space-between;
			.btn_link {
				width: 48%;
				height: 48px;
				border: none;
				font-family: Helvetica Neue;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 19px;
				color: #FFFFFF;
				background: #729DDA;
				border-radius: 5px;
				img {
					margin-right: 12px;
				}
				&:last-child {
					background: #ED4A47;
					border-radius: 5px;
				}
			}
		}
	}
}